<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Costa Rica Weather</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="find new data">Scrape New Data</a></p>
    </div>
    <h2>Latest Mars News</h2>
    <h3> {{ mars_info.news_title }}</h3>
    <p> {{ mars_info.news_p }}</p>
    <div class=row>
      <div class="col-md-4">
        <h2>Featured Mars Image</h2>
        <img src="{{mars_info.featured_image_url}}" alt="Mars">
        
      </div>
      <div class="col-md-4">
        
      </div>
      <div class="col-md-4">
        <h2>Mars Facts</h2>
        {{ mars_info.table | safe }}
        </div>
    </div>


    <h2>Mars Hemispheres</h2>
    <div class=row>
      {%for list in mars_info.big_list%}
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="{{list.img_url}}" alt="...">
          <div class="caption">
            <h4>{{list.title}}</h4>
          </div>
        </div>
      </div>
      {%endfor%}
      
    </div>
    


    
    

  </div>
  </div>
</body>

</html>